
<div class="details1">
    <p class="info1">HTML & CSS DEVELOPER</p>
    <h2 class="name"><b>ISHA VATS</b></h2>
   

    <p class="win">Knowledge of the HTML language with CSS
     Javascript knowledge, back-end technologies like API’s, SQL and databases such as MySQL
     Interpersonal skills are necessary for working in teams in the organizations
     Analytical skills are also helpful in understanding the problems, bugs and finding the solutions for the same.
     Debugging skills for making the website error-free.  
   </p>
  </div>